# PostgreSQL Database connection URL (Prisma)
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/nfc_card_db?schema=public"

# JWT Authentication Secret
JWT_SECRET="tapcard-jwt-secret-key-prod-super-secure-2026-auth"

# App Public URL
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
